<div class="block richtextblock col-md-12 col-sm-12">
    <div class="block-inner text-center">
        <header>
            <h1>
                Marie Curie Helper Service
            </h1>
            <p class="lead">
               Weather Information
        </header>
    </div>
</div>