<div class="block richtextblock col-md-12 col-sm-12">
    <div class="block-inner text-center">
        <header>
            <h1>
                Marie Curie Helper Service
            </h1>
            <p class="lead">
                We know the little things can make a big difference when you, or someone you care about, are living with a terminal illness.
                <h2>Find a Marie Curie Helper</h2>
            <p class="lead">Having someone to chat to over a cup of tea, help you get to an appointment or run an errand, or just be there to listen when you need a friendly ear.</p>
        </header>
    </div>
</div>